.container {
  border-radius: 5px;
  background-color: var(--primary-elements);
  margin-bottom: 2rem;
}

.countryFlag > img {
  width: 100%;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}

.countryInfos {
  padding: 1.5rem;
}

.countryName {
  font-weight: 800;
  font-size: 18px;
}

.countryPopulation {
  margin-top: 1rem;
}

.countryInfos > p > span {
  font-weight: 600;
}

@media screen and (min-width: 1440px) {
  .container {
    height: 350px;
    width: 270px;
  }

  .countryFlag > img {
    width: 270px;
    height: 180px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
  }
}
