<div class="container">
  <button class="backBtn" routerLink="/">
    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M360-240 120-480l240-240 56 56-144 144h568v80H272l144 144-56 56Z"/></svg>
    <span>Back</span>
  </button>
  <div class="countryDetails">
    <img [src]="flag" alt="" class="countryFlag">
    <div class="countryInfos">
      <p class="countryName">{{name}}</p>
      <div>
        <div class="firstInfos">
          <p><span>Native Name: </span>{{nativeName}}</p>
          <p><span>Population: </span>{{population}}</p>
          <p><span>Region: </span>{{region}}</p>
          <p><span>Sub Region: </span>{{subRegion}}</p>
          <p><span>Capital: </span>{{capital}}</p>
        </div>
        <div class="secondaryInfos">
          <p><span>Top Level Domain: </span>{{topLevelDomain[0]}}</p>
          <div>
            <p>Currencies:</p><span *ngFor="let currencie of currencies">{{currencie}}</span>
          </div>
          <div>
            <p>Languages:</p><span *ngFor="let language of languages">{{language}}</span>
          </div>
        </div>
      </div>
      <div class="container_borderCountries">
        <p class="border">Border Countries:</p>
        <div class="borderCountries">
          <a *ngFor="let border of borders" [routerLink]="['../', border] ">{{border}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
