<div class="container">
  <button class="backBtn" routerLink="/">
    <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M360-240 120-480l240-240 56 56-144 144h568v80H272l144 144-56 56Z"/></svg>
    <span>Back</span>
  </button>
  <div class="countryDetails">
    <img src="https://flagcdn.com/de.svg" alt="" class="countryFlag">
    <div class="countryInfos">
      <p class="countryName">Belgium</p>
      <div>
        <div class="firstInfos">
          <p><span>Native Name: </span>Belgiê</p>
          <p><span>Population: </span>11.319.511</p>
          <p><span>Region: </span>Europe</p>
          <p><span>Sub Region: </span>Western Europe</p>
          <p><span>Capital: </span>Brusseis</p>
        </div>
        <div class="secondaryInfos">
          <p><span>Top Level Domain: </span>.be</p>
          <p><span>Currencies: </span>Euro</p>
          <p><span>Languages: </span>Dutch, French, German</p>
        </div>
      </div>
      <div class="container_borderCountries">
        <p class="border">Border Countries:</p>
        <div class="borderCountries">
          <a href="">France</a>
          <a href="">Germany</a>
          <a href="">Netherlands</a>
        </div>
      </div>
    </div>
  </div>
</div>
