.container {
  padding: 2rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-elements);
  box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
}

.title {
  font-weight: bold;
  margin-left: 1rem;
}

.toggleBtn {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.toggleBtn > span {
  margin-left: 10px;
  font-weight: 600;
}

@media screen and (min-width: 1440px) {
  .title {
    margin-left: 5rem;
    font-size: 25px;
  }

  .toggleBtn {
    margin-right: 5rem;
    padding: 0.5rem 0 0.5rem 0.5rem;
  }
}
